<div >
  <mat-toolbar style="background-color: #215d73!important;color: white;">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="cursor: pointer;" (click)="routeToLogin()"> <img style="  color: white;  height: 42px;" src="assets/party.jpg">Share Party <sup style="font-style: oblique;">dev-0.0.1</sup></span>
      <span class="menu-spacer"></span>
      <span  *ngIf="showloggedIn" [matMenuTriggerFor]="beforeMenu" style="cursor: pointer;"><i class="fa fa-user" aria-hidden="true" style="color: white;font-size: 23px;" ></i></span>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <span mat-menu-item (click)="userProfile()">Profile</span>
        <span mat-menu-item (click)="home()">Home</span>
        <span mat-menu-item>Settings</span>
         <span mat-menu-item (click)="logout()">Log Out</span>
      </mat-menu> 
<!-- 
      <a *ngIf="showloggedIn" fxShow="true" fxHide.gt-sm  mat-button (click)="logout()"><i style="    font-size: 29px;" class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    
      <div *ngIf="showloggedIn" fxShow="true" fxHide.lt-md>
        <a  mat-button (click)="logout()"><i style="    font-size: 29px;" class="fa fa-sign-out" aria-hidden="true"></i>
      </a> 
        <a href="#" mat-button>Login</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a> 
      </div>-->
    </mat-toolbar-row>
  </mat-toolbar>

  

  <mat-sidenav-container fxFlexFill style="background-color: white;  height: 700px !important  ;width: 198px;">
    <mat-sidenav #sidenav>

      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Home</a>
       <!--  <a href="#" mat-list-item>Menu Item 2</a>
        <a href="#" mat-list-item>Menu Item 3</a>
        <a href="#" mat-list-item>Menu Item 4</a>
        <a href="#" mat-list-item>Menu Item 5</a>
        <a href="#"mat-list-item>Menu Item 6</a> -->

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill style="height: 700px !important  ;">

<ng-container *ngFor="let i of [0,1,2,3]">
  <div *ngIf="i==index && !loading" [@flyInOut] [ngClass]="'background div'+i">
  </div>
</ng-container>
<!-- <div *ngIf="loading" class="background div0"></div>
 -->

  <!--  <div style="font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;text-align: center;
    margin-top: 50%;
    color: white;
    font-size: 31px;"> Let's Party</div> -->

<!--     <login-form></login-form>
 -->
  <router-outlet></router-outlet>

  </mat-sidenav-content>
  </mat-sidenav-container>
<!-- <footer>FOOTER</footer>
 -->   <div class="footer" fxShow="true" fxHide.lt-md >
   <p >Share Party<br>
      <span id="socialMedia">
      <span><i class="fa fa-facebook-square" style="cursor: pointer;"  aria-hidden="true"></i>
      </span> 
      <span style="margin-left: 10px"><i style="cursor: pointer;" class="fa fa-twitter"  aria-hidden="true">
      <a href="https://twitter.com/toptrendinglive"></a>
      </i>
      </span> 
      <span style="margin-left: 10px"><i style="cursor: pointer;" class="fa fa-linkedin"  aria-hidden="true"></i>
      </span>
      </span><br>
  </p>
</div> 
</div>


